<div class="text-center mt-5">
  <h1 class='mb-3'><%= @user.nickname %></h1>
  <% if @user == current_user %>
    <p class="buffer-top"><%= link_to 'Editing user', edit_user_path(@user), class: 'btn btn-info mb-3' %></p>
  <% end %>
</div>
